@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
}


* {
    /* margin: 0; */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

p {
    line-height: 1.5;
    text-align: justify;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111111;
    cursor: pointer;
}

a:hover{
    color: #8123FF;
    transition: 0.2s all;
}

a.disabled{
    pointer-events: none;
    cursor: default;
    color: #111111;
    background-color: #E4E4E4;
}

/* HEADER STYLE */

header {
    height: 65px;
    width: 100%;
    background: #1e2025;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 25%);
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
}

.navbar-item ul, .navbar-icon ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item a{
    padding: 20px;
    display: block;
    color: #fff;
}

.navbar-item li{
    position: relative;
}

ul.dropdown{
    display: none;
    position: absolute; /*Вырвать из потока*/
    top: 100%;
    left: 0;
    flex-direction: column;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
}

ul.dropdown a{
    padding: 15px 20px;
}

.navbar-item li:hover .dropdown{
    display: flex;
}

.menu-item{
    color: #111111;
    cursor: pointer;
    padding: 20px;
    display: block;
}

.navbar-item a:hover, .navbar-item .menu-item:hover{
    background-color: rgba(0, 0, 0, 1);
    color:  #fff;
    transition: 0.2s all;
}

/* FOOTER */

footer {
    color: #fff;
    background: #1e2025;
    min-height: 100px;
    margin: 30px 0px 0px 0px;
    padding: 30px 0;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper > div {
    width: 30%;
}

.footer-item {
    text-align: center;
}

.footer-wrapper .about {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
}

.footer-wrapper .logo span {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.footer-wrapper .social ul {
    display: flex;
    justify-content: flex-end;
}

.footer-wrapper .social ul li a img {
    width: 29px;
    height: 29px;
}

/* CONTENT */

main {
    width: 1080px;
    margin: 0 auto; /*Выравнивание блочного элемента по центру*/
}

.hero {
    height: calc(100vh - 65px);
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
    background-image: url(../images/hero.png);
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: .6rem;
}

.btn{
    padding: 15px 24px;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #3f2aff;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover{
    background-color: #3f2aff;
    color: #fff;
    transition: 0.3s all;
}

#adv-wrapper{
    display: flex;
    justify-content: space-between;
}

#adv-wrapper #adv-first, #adv-wrapper #adv-three, #adv-wrapper #adv-two{
    padding: 0 10px;
    border-radius: 40px;
}

#adv-wrapper #adv-first, #adv-wrapper #adv-three {
    flex-shrink: 2;
    width: 800px;
    background-color: #f1f1f1;
}

#adv-wrapper #adv-two {
    flex-shrink: 1;
    width: 800px;
    margin: 0 20px;
    background-color: #f1f1f1e1;
}

.category-block {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.category-item {
    margin: 20px 0;
}
.category-item img {
    width: 50%;
}

/* MENU */

.menu-container {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.menu-container .menu-item {
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #ccc;
    transition: .3s ease;
}

.menu-container .menu-item:hover {
    box-shadow: 0 0 16px 2px #ccc;
}

.item-img {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.item-img img {
    max-width: 100%;
    height: auto;
}

/* MENU END */

/* CART */

.products-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    max-width: 800px;
    justify-content: space-around;
    margin: 0 auto;
}

.product-header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}


.total {
    width: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.control-btn:hover {
    cursor: pointer;
}

/* CART END */

/* FORM */

#make-order {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 2px dotted rgb(63, 42, 255, 0.3);
    box-shadow: 2px 2px 10px rgb(211,211,211);
}

.form__title{
    margin: 0 0 32px 0;
    text-align: center;
    font-weight: normal;
}

.form__group{
    margin-bottom: 30px;
}

.form__input,
.form__button {
    font-size: 16px;
}

#make-order .form__input{
    border: none;
    border-bottom: 1px solid #E4E4E4;
    width: 400px;
    padding-top: 18px;
}

input:hover, input:focus{
    outline: none;
    border-bottom: 1px solid #3f2aff;
}

.button-wrapper{
    text-align: center;
}

.form__button{
    padding: 15px 24px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #3f2aff;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
}

.form__button:hover:enabled {
    background-color: #3f2aff;
    color: #fff;
    transition: 0.3s all;
}

.form__button:disabled

/* REQUEST */

.request-wrapper{
    display: flex;
}

.request{
    width: 500px;
    margin-left: 50px;
}

.request .form__input {
    width: 500px;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    padding-top: 18px;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

/* POPUP WINDOW */

#popup-wrapper {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

#popup {
    z-index: 1001;
    margin: 80px auto;
    width: 500px;
    height: 200px;
    background-color: rgb(255, 160, 160);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(211,211,211);
    transition: 0.3s all;
}

#close{
    float: right;
    margin-right: 10px;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #6e6e6e;
    cursor: pointer;
}


/* FORM END */