.products-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    max-width: 800px;
    justify-content: space-around;
    margin: 0 auto;
}

.product-header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}


.total {
    width: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.control-btn:hover {
    cursor: pointer;
}