#make-order {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 2px dotted rgb(63, 42, 255, 0.3);
    box-shadow: 2px 2px 10px rgb(211,211,211);
}

.form__title{
    margin: 0 0 32px 0;
    text-align: center;
    font-weight: normal;
}

.form__group{
    margin-bottom: 30px;
}

.form__input,
.form__button {
    font-size: 16px;
}

#make-order .form__input{
    border: none;
    border-bottom: 1px solid #E4E4E4;
    width: 400px;
    padding-top: 18px;
}

input:hover, input:focus{
    outline: none;
    border-bottom: 1px solid #3f2aff;
}

.button-wrapper{
    text-align: center;
}

.form__button{
    padding: 15px 24px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #3f2aff;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
}

.form__button:hover:enabled {
    background-color: #3f2aff;
    color: #fff;
    transition: 0.3s all;
}

.form__button:disabled

/* REQUEST */

.request-wrapper{
    display: flex;
}

.request{
    width: 500px;
    margin-left: 50px;
}

.request .form__input {
    width: 500px;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    padding-top: 18px;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

/* POPUP WINDOW */

#popup-wrapper {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

#popup {
    z-index: 1001;
    margin: 80px auto;
    width: 500px;
    height: 200px;
    background-color: rgb(255, 160, 160);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(211,211,211);
    transition: 0.3s all;
}

#close{
    float: right;
    margin-right: 10px;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #6e6e6e;
    cursor: pointer;
}
